<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Удаление товара</title>
</head>
<body>
    <p><a href="{% url 'products' %}">Вернуться на главную страницу</a></p>
    <h1>Вы хотите удалить товар{{ product.name }}?</h1>
    <form method="post">
        {% csrf_token %}
        <button>Удалить</button>
    </form>
</body>
</html>
