<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ product.name }}</title>
</head>
<body>
    <p><a href="{% url 'products' %}">Вернуться на главную страницу</a></p>
    {% if product.user.id == user.id %}
{#        <p><a href="{% url 'products' %}?my_products=true">Вернуться к списку#}
{#            своих товаров</a></p>#}
        <p><a href="{% url 'delete' product.id %}">Удалить товар</a></p>
    {% endif %}
    <h1>{{ product.name }}</h1>
    <h2>Продавец: {{ product.user.name }}</h2>
    <p><small>ID товара: {{ product.id }}</small></p>
    {% if not product.photo %}
        <p><b>Нет фото</b></p>
        <br>
    {% endif %}
    {% if product.count <= 0 %}
        <p><b>Товар отсутствует в продаже</b></p>
    {% else %}
        <p>Цена: {{ product.price }}</p>
    {% endif %}
    <p>Описание: <br><br>{{ product.description }}<br></p>
    <p>Категория:
        {{ product.category|default_if_none:'Нет категории' }}
    </p>
    <p>
        <small>Время создания: {{ product.created_at|date:'d.m.Y' }}</small>
    </p>
</body>
</html>