<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ product.name }}</title>
</head>
<body>
<p><a href="{% url 'products' %}">Вернуться на главную страницу</a></p>
    <h1>{{ product.name }}</h1>
    <p><small>ID товара: {{ product.id }}</small></p>
    {% if product.count <= 0 %}
        <p><b>Товар отсутствует в продаже</b></p>
    {% else %}
        <p>Цена: {{ product.price }}</p>
    {% endif %}
    <p>Описание: <br><br>{{ product.description }}</p>
    <p>
        <small>Время создания: {{ product.created_at|date:'d.m.Y' }}</small>
    </p>
</body>
</html>